*{
    margin:0;
    padding:0;
    }
    body{
    background:lightgrey;
    font-family:Quicksand;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHg2iLq3BIhVMpPp0owxLvaIRJJqhJB7s5zg&usqp=CAU");
    background-size:cover;
    background-repeat:no-repeat;
    }
    #logo{
        float:left;
        margin-right:3.5%;
    }
  .nav{
      position:sticky;
      background-color:black;
      margin:0;
      padding:0;
      text-align:right;
  }
  .one, li{
    display:inline-flex;
    margin:8.3px;
    padding:3.7px;
    margin-right:20px;
  }
  li,a{
      text-transform: capitalize;
      text-decoration: none;
      font-size:18px;
      color:white;
  }
li,a:hover{
color:rgb(44, 109, 109);
}
p{
    text-align:right;
    margin-top: 28%;
    margin-left:15%;
    margin-right:10%;
    font-size:22px;
    color:whitesmoke
}

