*{
    margin:0;
    padding:0;
    }
    body{
    background:lightgrey;
    font-family:Quicksand;
    background-image:url("https://blog-assets.shawacademy.com/uploads/2015/07/Expensive-Camera.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    }
    #logo{
        float:left;
        margin-right:3.5%;
    }
  .nav{
      background-color:rgb(65, 65, 65);
      position: fixed;
      width:100%;
      top:0;
      margin:0;
      padding:2px;
      text-align:right;
  }
  .one, li{
    display:inline-flex;
    margin:8.3px;
    padding:3.7px;
    margin-right:20px;
  }
  li,a{
      text-transform: capitalize;
      text-decoration: none;
      font-size:18px;
      color:white;
  }
li,a:hover{
color:rgb(5, 63, 97);
}
p{
    text-align:right;
    margin-top: 30%;
    margin-right:68%;
    font-size:22px;
    color:rgb(255, 255, 255);
}
