table,th,td{
    border-bottom:2px solid rgb(109, 37, 49);
    border-collapse: collapse;
    margin:3%;
    margin-left:10%;
    padding:1%;
}
table{
      width:80%;
      height:65%;
}
th{
   background-color: black;
   padding:2%;
   text-align: center;
   font-size:30px;
   color:white;
}
td{
   background-color:darkslategray;
   padding:1%;
   text-align: center;
   font-size:25px;
   color:darkgray;
}
tr:hover{
         background-color:lightgreen;
}