*{
    margin:0;
    padding:0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
body{
    background-color: rgb(224, 224, 224);
}
#logo{
    margin-top:30px;
    width:500px;
    height:auto;
    position: relative;
}
.header-text{ 
  color:grey;
  font-size:15px;
  word-spacing:1px;
}
#header-text{
    text-decoration:none;
    color:black;
    font-size:15px;
}
.navlist1{
    margin-top: 25px;
}
#navlist{
    background-color: rgba(147, 203, 218, 0.788);
    border-radius: 5px;
}
#navlist .nav-items .nav-link{
    color:rgb(66, 68, 66);
    font-size:15px;
}
#navlist .nav-items .nav-link:hover{
    background-color: white;
    color:rgb(235, 78, 78);
}
#navlist2 .nav-items .nav-link{
    color:rgb(66, 68, 66);
    font-size:14px;
    border-bottom: 3px double black;
    border-width: 120%;
}
#navlist2 .nav-items .nav-link:hover{
    background-color: white;
    color:rgb(235, 78, 78);
}
/*main page 1 end*/
/*article 1 start*/

.article1{
    margin:10px;
    padding-top:30px;
}
.main-text{
    position: relative;
    display:flex;
}
.main-head{
    display:flex;
    flex-direction:row;
    margin-bottom:25px;
    border:1px hidden black;
    overflow: hidden;
    
}
.main-head>img{
    width:100%;
    height:300px;
    border-radius: 5px;
}
.main-head>img:hover{
    transform: scale(1.2);
    transition: 2s ease-in-out;
}
.title{
    margin-top:110px;
    padding-top:110px;
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
}
.title>a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
}
.title>a:hover{
    text-decoration: underline;
    color:whitesmoke;
    transition: 0.5s ease-in-out;
}
.main-text{
    display:flex;
}
.items{
    margin:0px 15px 0px 0px;
    padding:10px 0px;
    color:rgb(110, 95, 95);
    font-size: 16px;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 20px;
    border-bottom:2px dotted rgb(145, 124, 124);
}
.items:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
}
.items1{
    margin:0px 0px 0px 15px;
    padding:10px 0px;
    color:rgb(110, 95, 95);
    font-size: 16px;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 20px;
    border-bottom:2px dotted rgb(145, 124, 124);
}
.items1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
    transition: 0.5s ease-in-out;
}
/*article 1 end*/
/*article 2 start*/
.main-head2{
    padding:5px 2px;
    display:block;
}
.heading1{
    font-size:18px;
    color:whitesmoke;
    background-color: black;
    width:175px;
    padding:5px 3px;
    cursor: pointer;
}
.heading1>.fas{
    padding:1px 7px;
}
.heading1:hover{
    color:tomato;
    transition: 0.5s ease-in-out;
}
.text1{
    text-align: left;
    padding:7px 0px;
    font-size:16px;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 20px;
}
.text1>.fas{
    padding:1px 7px;
}
.text1>.fas:hover{
    color:rgb(184, 89, 73);
    cursor: pointer;
    text-decoration:underline;
}
.text1:hover{
    color:rgb(255, 9, 9);
    cursor: pointer;
    text-decoration:underline;
}
/*article 2 end*/
/*article 3 start*/
.title1{
    margin-top:80px;
    padding-top:80px;
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
}
.title1>a{
    color:white;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
}
.title1>a:hover{
    text-decoration: underline;
    color:whitesmoke;
    transition: 0.5s ease-in-out;
}
.article2text{
    margin:5px;
    padding:5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor:pointer;
}
.article2text:hover{
    color:tomato;
    transition: 0.5s;
}
.items1>.far{
    font-size: 15px;
    color:red;
}
.items>.fas{
    padding-right:5px;
    color:red;
    font-size: 15px;
}
/*article 3 end*/
/*article 4 start*/
.article3text{
    padding:5px 0px 10px 0px;
    margin:5px 0px 10px 0px;
    color:rgb(110, 95, 95);
    font-size: 18px;
    font-weight: 400;
    word-spacing: 1px;
    text-align: center;
    line-height: 20px;
    border-bottom:2px dotted rgb(145, 124, 124);
}
.article3text:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
}
.items>.far{
    font-size: 15px;
    color:red;
}
.title2{
    margin-top:80px;
    padding-top:80px;
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
}
.title2>a{
    color:rgb(41, 41, 41);
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
}
.title2>a:hover{
    text-decoration: underline;
    color:rgb(12, 11, 11);
    transition: 0.5s ease-in-out;
}
/*article 4 end*/
/*article 5 start*/
.article4text{
    padding:5px 0px 10px 0px;
    margin:5px 0px 10px 0px;
    color:rgb(110, 95, 95);
    font-size: 18px;
    font-weight: 400;
    word-spacing: 1px;
    text-align: center;
    line-height: 20px;
    border-bottom:2px dotted rgb(145, 124, 124);
}
.article4text:hover{
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
}
.items>.far{
    font-size: 15px;
    color:red;
}
hr{
    margin:0px 0px 25px 0px;
    padding:2px 0px;
    width:auto;
    border-radius: 5px;
    color:black
}
.external-links{
    margin: 20px 0px;
    text-align: right;
}
.external-links>a{
    color:rgb(34, 33, 33);
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 20px;
    text-decoration: none;
}
.external-links>a:hover{
    color:tomato;
    transition: 0.5s;
    text-decoration: underline;
}
/*article 5 end*/
/*side-article 1 start*/
.side-article{
    display:flex;
    margin:10px 2px;
    border-bottom: 1px dotted grey;
}
.side-article>img{
    width:50px;
    height:50px;
    border-radius: 3px;
    margin:5px 20px;
}
.side-article>img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.side-article>p{
    align-self: center;
    font-weight: 400;
    padding-top:5px;
    word-spacing: 1px;
    color:rgb(104, 92, 40);
    line-height: 20px;
}
.side-article>img,p:hover{
    text-decoration: underline;
    cursor: pointer;
    color:black;
}
.article6_head{
    width:125px;
    margin:10px 25px;
    padding:5px 6px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration:wavy;
}
.article6_head>.fal{
    padding-left:8px;
    color:tomato;
    opacity: 0.5;
    font-size:17px;
}
.article6_head:hover{
    color:tomato;
    transition: 1s;
    cursor: pointer;
    text-decoration: underline;
}
