*{
    margin:0%;
    padding:0%;
    font-family: 'Inter', sans-serif;
  }
  /*opening page 1 CSS start*/
  .opening{
      min-height: 96vh;
      width: 100%;
      background-image: url("background.jpg");
      background-position: relative;
      background-size:cover;
      background-repeat: no-repeat;
  }
img{
    float:left;
    margin-left:12%;
    margin-right:10%;
    padding:20px;
}
.menubar{
    background-color:rgba(248, 248, 248);
    height:100px;
    width:100%;
    position:fixed;
    top:0%;
}
.menu #menu1{
    display:inline-block;  
    padding-top: 25px;
    padding-right:10px;
    margin: 10px;
}
#menu1, a{
    text-align:center;
    padding-top:10px;
    font-size: 16px;
    font-weight: 650;
    color: rgb(53, 52, 52);
    text-decoration: none;
}
.thing{
    text-align:right;
    background-color: rgba(3, 33, 73, 0.973);
    margin-left:150px;
    padding-right:30px;
    padding-left:30px;
    padding-top:13px;
    padding-bottom:15px;
    margin-top:5px;
    border-radius: 50px;
    font-size:17px;
    color:white;
    font-weight: 500;
}
a:hover{
    transition: 0.3s;
    color:rgba(20, 86, 148, 0.925);
}
a.thing:hover{
    color:white;
    box-shadow:0px 0px 5px 3px rgb(128, 129, 129);
}
.opening1{
    margin-left:200px;
    padding-top:250px;
    position:static;
}
.opening2{
    font-size:70px;
    font-weight:800;
    color:rgba(4, 22, 71, 0.904);
}
.opening3{
    font-weight: 650;
}
.opening4{
    margin-top:25px;
    font-size: 25px;
    font-weight: 450;
    background-color:white;
    width:75%;
    padding:10px;
    border-radius:5px;
}
#opening4{
    color:rgb(70, 195, 245);
    font-weight: 800;
    font-size: 30px;
}
.list, .opening6{
    list-style: none;
    display: inline;
    margin-right:15px;
}
.opening5 a{
    padding-right:30px;
    padding-left:30px;
    padding-top:13px;
    padding-bottom:15px;
    display: inline;
    font-size:16px;
    color:white;
    font-weight: 500;
    background-color:rgba(3, 33, 73, 0.973);
    border-radius: 60px;
}
a.opening5:hover{
    color:white;
}
.opening6 a{
    color:white;
    display: inline;
}
/*opening page 1 CSS end */
/*opening page 3 CSS start*/
#tag{
    min-height: 30vh;
    margin-top:50px;
    background-color: rgb(40, 115, 253);
    display:inline-flex;
    column-count:3;
    column-gap: 100px;
    width: 100%;
}
#tag1{
    padding:10px;
    margin:50px;
}
#head{
    text-align: left;
    font-size: 50px;
    color:white;
    margin-bottom:25px;
    font-weight: 700; 
}
#para1{
    text-align: left;
    font-size: 25px;
    color:white;
    margin-bottom:25px;
    font-weight: 600; 
}
#para2{
    text-align: left;
    font-size: 18px;
    color:white;
    margin-bottom:25px;
    font-weight: 400; 
}
/*opening page 3 CSS end*/
/*opening page 4 CSS start*/
.about{
    min-height: 80vh;
    margin-top:50px;
    display:inline-flex;
    column-count:2;
    column-gap: 50px;
    width: 100%;
    background-color: snow;
}
.about1{
    margin:30px;
    padding-left:100px;
}
.about1 img{
    margin:5px;
    padding-left:100px;
    width:600px;
    height:600px;
    border-image:round;
}
.coon{
    margin-top:100px;
    margin-right:50px;
    padding-right:150px;
}
.coon1{
    margin-bottom: 50px;
    color:rgb(3, 68, 187);
    font-size:20px;
    text-align: left;
    letter-spacing: 2px;
}
.coon2{
    font-weight: 400;
    font-size: 17px;
    margin-bottom:23px;
    color:rgb(138, 137, 137);
    
}
.coon3{
    text-align:left;
    font-weight: 400;
    padding:15px;
    font-size: 17px;
    color:rgb(3, 68, 187);
}
.coon4{
    color:rgb(138, 137, 137);
}
/*opening page 4 CSS end*/
/*opening page 5 CSS start*/
#choice{
    min-height: 20vh;
    margin-top:50px;
    width: 100%;
    background-color:rgb(247, 242, 242);
}
#choice1{
    margin:20px;
    padding:20px;
}
#choice2{
    padding-left:25px;
    margin-left:25px;
    text-align: left;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(3, 68, 187);
}
.flow{
    min-height: 70vh;
    margin:25px;
    padding:15px;
    display:grid;
    grid-template-columns:repeat(3, 34%);
    grid-template-rows:repeat(2, 30%);
    grid-gap:50px 15px;
    height: 50%;
    width:auto;
    justify-content: space-around;
    align-items:flex-start;
}
#choice3 img{
    float:left;
    margin-right:250px;
    padding:20px;
}
#choice4 img{
    float:left;
    margin-right:250px;
    padding:20px;
}
#choice5 img{
    float:left;
    margin-right:250px;
    padding:20px;
}
#choice6 img{
    float:left;
    margin-right:250px;
    padding:20px;
}
.flexi{
    text-align: left;
    margin-left:70px;
    padding:10px;
    color:rgb(3, 68, 187);
    font-size: 25px;
}
.flexi:hover{
    color:tomato;
    transition: 0.1s;
}
#flex2{
    text-align: left;
    margin-bottom:80px;
    margin-left:70px;
    padding:10px;
    font-size: 16px;
    color:rgb(138, 137, 137);
}
#choice3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#choice4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#choice5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#choice6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#choice7{
    background-color:rgb(75, 87, 104);
    height:110%;
    width:60%;
    margin-left:50px;
    display: inline-block;
    padding:20px;
    border-radius: 25px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
#flex3{
    background-color: tomato;
    width: 97%;
    height:8%;
    color:white;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    text-align: center;
    padding:25px;
    overflow:auto;
    margin-top:-10px;
    margin-left:-20px;
}
#flex4{
    background-color:rgb(75, 87, 104);
    font-size: 18px;
    margin-top:35px;
    padding:15px;
    text-align: center;
    border-top:hidden;
    border-left: hidden;
    border-right:hidden;
    border-bottom: 1px dashed whitesmoke;
    outline:none;
    color: lightgrey;
}
#flex5{
    background-color: rgb(240, 83, 56);
    text-align: center;
    margin-top:50px;
    margin-left:80px;
    padding:10px;
    padding-right:20px;
    padding-left:20px;
    font-size:17px;
    color:whitesmoke;
    border-radius: 30px;
    border-top:hidden;
    border-left: hidden;
    border-right:hidden;
    border-bottom: hidden;
}
#flex5:hover{
    background-color:rgb(75, 87, 104);
    border:2px groove whitesmoke;
    box-shadow:0px 0px 5px 3px rgb(128, 129, 129);
}
/*opening page 5 CSS end*/
/*opening page 6 CSS start*/