*{
    margin:0%;
    padding:0%;
    font-family: 'Inter', sans-serif;
  }
  /*opening page 1 CSS start*/
  .opening{
      min-height: 96vh;
      width: 100%;
      background-image: url("background.jpg");
      background-position: relative;
      background-size:cover;
      background-repeat: no-repeat;
  }
img{
    float:left;
    margin-left:12%;
    margin-right:10%;
    padding:20px;
}
.bar{
    background-color:rgba(248, 248, 248);
    height:100px;
    width:100%;
    position:fixed;
    top:0%;
}
ul,li{
    display:inline-block;  
    padding: 5px;
    margin: 10px;
}
li, a{
    text-align:center;
    padding-top:10px;
    font-size: 16px;
    font-weight: 650;
    color: rgb(53, 52, 52);
    text-decoration: none;
}
.thing{
    text-align:right;
    background-color: rgba(3, 33, 73, 0.973);
    margin-left:150px;
    padding-right:30px;
    padding-left:30px;
    padding-top:13px;
    padding-bottom:15px;
    margin-top:5px;
    border-radius: 50px;
    font-size:17px;
    color:white;
    font-weight: 500;
}
a:hover{
    transition: 0.3s;
    color:rgba(20, 86, 148, 0.925);
}
a.thing:hover{
    color:white;
}
.opening1{
    margin-left:200px;
    padding-top:250px;
    position:static;
}
.opening2{
    font-size:50px;
    font-weight:800;
    color:rgba(4, 22, 71, 0.904);
}
.opening3{
    font-weight: 650;
}
.opening4{
    margin-top:25px;
    font-size: 25px;
    font-weight: 550;
    background-color:white;
    width:75%;
    padding:10px;
    border-radius:5px;
}
.opening5 a{
    padding-right:30px;
    padding-left:30px;
    padding-top:13px;
    padding-bottom:15px;
    font-size:16px;
    color:white;
    font-weight: 500;
    background-color:rgba(3, 33, 73, 0.973);
    border-radius: 60px;
}
a.opening5:hover{
    color:white;
}
.opening6 a{
    color:white;
}
/*opening page 1 CSS end */
/*opening page 3 CSS start*/
#tag{
    min-height: 30vh;
    margin-top:50px;
    background-color: rgb(40, 115, 253);
    display:inline-flex;
    column-count:3;
    column-gap: 100px;
    width: 100%;
}
#tag1{
    padding:10px;
    margin:50px;
}
#head{
    text-align: left;
    font-size: 50px;
    color:white;
    margin-bottom:25px;
    font-weight: 700; 
}
#para1{
    text-align: left;
    font-size: 25px;
    color:white;
    margin-bottom:25px;
    font-weight: 600; 
}
#para2{
    text-align: left;
    font-size: 18px;
    color:white;
    margin-bottom:25px;
    font-weight: 400; 
}
/*opening page 3 CSS end*/
/*opening page 4 CSS start*/
.about{
    min-height: 80vh;
    margin-top:50px;
    display:inline-flex;
    column-count:2;
    column-gap: 50px;
    width: 100%;
    background-color: snow;
}
.about1{
    margin:30px;
    padding-left:100px;
}
.about1 img{
    margin:5px;
    padding-left:100px;
    width:600px;
    height:600px;
    border-image:round;
}
.coon{
    margin-top:100px;
    margin-right:50px;
    padding-right:150px;
}
.coon1{
    margin-bottom: 50px;
    color:rgb(3, 68, 187);
    font-size:20px;
    text-align: left;
    letter-spacing: 2px;
}
.coon2{
    font-weight: 400;
    font-size: 17px;
    margin-bottom:23px;
    color:rgb(138, 137, 137);
    
}
.coon3{
    text-align:left;
    font-weight: 400;
    font-size: 17px;
    color:rgb(138, 137, 137);
}
.icon{
    padding-left:-20px;
    position:relative;
    display:run-in;
    margin-left:-32px;
    margin-right:15px;
    color:rgb(40, 115, 253);
}
/*opening page 4 CSS end*/
/*opening page 5 CSS start*/
#choice{
    min-height: 80vh;
    margin-top:50px;
    position:relative;
    column-count:3;
    column-gap: 40px;
    width: 100%;
    background-color:rgb(247, 242, 242);
}
#choice1{
    margin:20px;
    padding:20px;
}
#choice2{
    padding-left:25px;
    margin-left:25px;
    text-align: left;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 1px;
    color:rgb(3, 68, 187);
}
.flow{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto auto auto auto;
}

